---
layout: default
title: Blog
permalink: /blog/
---

<div class="posts-grid">
  {% for post in site.posts %}
    <article class="post-card" onclick="window.location.href='{{ post.url }}'">
      <h2>
        <a>{{ post.title }}</a>
      </h2>
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%B %d, %Y" }}
      </time>
      <div class="post-preview-content">
        {% if post.content contains "img" %}
          {% assign images = post.content | split: '<img ' %}
          {% assign firstImage = images[1] | split: '>' | first %}
          <img class="preview-image" {{ firstImage }}>
        {% endif %}
        <div class="preview-text">
          {{ post.content | strip_html | truncatewords: 50 }}
        </div>
      </div>
      <div class="read-more">Read More →</div>
    </article>
  {% endfor %}
</div>
