---
layout: default
title: MEDIA
permalink: /media/
---

<div class="media-content">
    <!-- Buttons at the top -->
    <div class="buttons-grid">
        <a href="https://github.com/acrecit" class="button-link">
            <img src="/assets/buttons/github-check.gif" alt="GitHub" class="button-img">
        </a>
        <a href="https://x.com/acreciti" class="button-link">
            <img src="/assets/buttons/twitter.gif" alt="Twitter" class="button-img">
        </a>
        <a href="/research" class="button-link">
            <img src="/assets/buttons/reshirii.gif" alt="Research" class="button-img">
        </a>
        <a href="https://www.7-zip.org" class="button-link">
            <img src="/assets/buttons/7zip.gif" alt="Research" class="button-img">
        </a>
        <a href="/browsers/" class="button-link">
            <img src="/assets/buttons/browser.gif" alt="Research" class="button-img">
        </a>
    </div>

    <!-- Simple image grid -->
    <div class="media-grid">
        {% for file in site.static_files %}
            {% if file.path contains '/assets/images/' %}
                {% unless file.path contains 'geocities-1995.png' or 
                          file.path contains 'dp_graph.jpg' or 
                          file.path contains 'lings-cars.jpg' or 
                          file.path contains 'modern_website.jpg' or 
                          file.path contains 'houdini_ui.png' or 
                          file.path contains 'day_trading.png' %}
                    {% if file.extname == '.jpg' or file.extname == '.JPG' or file.extname == '.png' or file.extname == '.gif' %}
                        <img src="{{ file.path }}" 
                             alt="{{ file.basename }}" 
                             class="media-item">
                    {% endif %}
                {% endunless %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Add modal for image preview -->
<div class="image-modal">
    <span class="close-modal">&times;</span>
    <img class="modal-content" id="expanded-image">
</div>